:host {
  display: block;
  margin: 2rem 0;
}

.search-results {
  margin-top: 2rem;
}

.dropdown-menu {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item {
  white-space: normal;
  word-wrap: break-word;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: blue;
  margin-left: 10px;
}

.case-link {
  color: #337ab7;
  text-decoration: none;
}

.case-link:hover {
  text-decoration: underline;
}
.zindex-dropdown {
  z-index: 1000;
}

.position-relative {
  position: relative;
}

.suggestion-dropdown {
  position: absolute;
  top: calc(100% + 4px);  
  left: 2;
  z-index: 1050;  
  width: 96%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid lightgray;
  border-top: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  
  border-radius: 4px;
  cursor: pointer;
}

input.form-control {
  border: 1px solid #ced4da !important;
}




.spinner-border {
  width: 1rem;
  height: 1rem;
}

.table th {
  font-weight: bold;
  background-color: #f8f9fa;
}

